# .env.example
# 이 파일을 복사 후 실제 값 입력
# cp .env.example .env

# ----------------------------------------
# Discord Webhook URL (필수)
# TODO: 실제 Discord Webhook URL로 변경
# ----------------------------------------
DISCORD_WEBHOOK_INFRA=https://discord.com/api/webhooks/1524672782040825919/3sX5N48H0weARPPU2G2WIlWTM6naijyo2fJiEH0Tgj6_kl1Mnht1NUblTKxX8ux7GwUZ
DISCORD_WEBHOOK_FINOPS=https://discord.com/api/webhooks/1524672653984530484/g9LWdeSTI_hY_-PdNKP35ZfS1bGC_xDCC5SXec6X8OLXkssifYZ5sPtYBhSxE3gT7zLP
