# Terraform State
*.tfstate
*.tfstate.backup
*.tfstate.*
*.backup
*.tfplan
tfplan*

# Terraform Cache
.terraform/

# Terraform Backup
terraform/backup-*/
terraform-state-normalize-backup-*/

# Vim
*.swp

# SSH
*.pem
*.key

# kubeconfig
.kube/
kubeconfig

# Environment
.env
.env.*

# Logs
*.log

# Ansible
retry_files_enabled
*.retry

.venv/

# Terraform working files
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
