# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# SSH
*.pem
id_rsa
id_rsa.pub

# Kubernetes
.kube/
kubeconfig

# Environment
.env
.env.*

# Logs
*.log

# Ansible
retry_files_enabled
*.retry

.venv/

# Terraform working files
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
